<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="/static/js/timeoutscpt.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Congratulations</title>
</head>
<body>
<div class="register">
 <p>You have already complete your registeration, now please click on following link to come back to main site.</p>
</div>
<div>
    <p>Automatically jumps to main page after <span id="cd">10</span> second(s)...</p>
</div>
<div>
    <a href="/">Back to main page</a>
</div>
</body>
</html>