<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div class="back-link" style="float:right">
        <a href="/">Back to main page</a>
    </div>
    <div>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            <p style="color:red">{{ error }}</p>
            {% for item in form %}
                <div>
                    <label for="id_{{ item.name }}">&nbsp;{{ item.label }}:&nbsp;</label>
                    {{ item }} {{ item.errors.0 }}
                </div>
            {% endfor %}
            <button name="create">&nbsp;{{ function }}&nbsp;</button>
        </form>
    </div>
    <div class="signup">
        <a href="{{ jump.link }}">{{ jump.text }}</a>
    </div>
</body>
</html>