<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>secret</title>
</head>
<link rel="stylesheet" href="/static/css/love.css">
<body>
<div class="texts">
    <blockquote>Hana loves you.</blockquote>
    <blockquote>Stay with hana forever.</blockquote>
</div>
<div class="image">
    <img src="/static/pics/hana.jpeg">
</div>
<div class="link">
    <form action="{% url "mainpage" %}" method="post">
        {% csrf_token %}
        <button class="return_button">&nbsp;back to mainpage&nbsp;</button>
    </form>
</div>
</body>
</html>